{% extends "computerApp/menu.html"%}

{% block navbar%}
    <nav class="navbar navbar-inverse navbar-fixed-">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'menu' %}">R&T D___evelopment</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'menu' %}">Overview</a></li>
            <li><a href="{% url 'gestion-infra' %}">Infrastructure</a></li>
            <li class="active"><a href="{% url 'gestion-user' %}">Utilisateurs</a></li>
            <li><a href="{% url 'gestion-machines' %}">Gestion de machines</a></li>
            <li><a href="{% url 'machines' %}">Machines</a></li>
            <li><a href="{% url 'profils' %}">Profils</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'logout' %}">Déconnexion</a></li>
        </ul>
        </div>
      </div>
    </nav>
{%endblock%}

{% block content %}
<div class="container">
  <h1 class="mt-5 text-center">Gestion du Personnel</h1>
  <div class="row">
    {% for user in users %}
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ user.nom }} {{user.prenom}}</h5>
          <p class="card-text">Infrastructure : {{ user.infrastructure }}</p>
          <p class="card-text">Statut : {% if user.role == 'Resp.' %} {{user.role}} {{user.infrastructure}}{% else %}{{user.role}} à {{user.infrastructure}}{% endif %}</p>
          <p class="card-text">Contact : {{ user.email }}</p>
          <p class="card-text">Date de création : {{ user.crea }}</p>
          <div class="text-center">
          <a href="#" class="btn btn-primary">Voir</a>
        </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<hr>

<div class="container">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="col-md-6">
      <div class="card p-4">
        <h2 class="mt-5 text-center">Ajouter un utilisateur</h2>
        <form method="post" class="my-4">
          {% csrf_token %}
          <div class="mb-3">
            <label for="{{ form.nom.id_for_label }}" class="form-label">Nom de l'utilisateur</label>
            {{ form.nom }}
          </div>
          <div class="mb-3">
            <label for="{{ form.prenom.id_for_label }}" class="form-label">Prénom de l'utilisateur</label>
            {{ form.prenom }}
          </div>
          <div class="mb-3">
            <label for="{{ form.role.id_for_label }}" class="form-label">Rôle</label>
            {{ form.role }}
          </div>
          <div class="mb-3">
            <label for="{{ form.infrastructure.id_for_label }}" class="form-label">Dans quel infrastructure</label>
            {{ form.infrastructure }}
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Ajouter</button>
          </div>
        </form>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card p-4">
        <h2 class="mt-5 text-center">Supprimer un utilisateur</h2>
        <form method="post" class="my-4">
          {% csrf_token %}
          {{ delete_form.user.label_tag }}
          {{ delete_form.user }}
          <br>
          <div class="text-center">
            <button type="submit" class="btn btn-danger">Supprimer</button>
          </div>
        </form>
      </div>

{% endblock %}

