{% extends "computerApp/menu.html"%}

{% block navbar%}
    <nav class="navbar navbar-inverse navbar-fixed-">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../menu">R&T D___evelopment</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'menu' %}">Overview</a></li>
            <li class="active"><a href="">Infrastructure</a></li>
            <li><a href="{% url 'gestion-user' %}">Utilisateurs</a></li>
            <li><a href="{% url 'gestion-machines' %}">Gestion de machines</a></li>
            <li><a href="{% url 'machines' %}">Machines</a></li>
            <li><a href="{% url 'profils' %}">Profils</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'logout' %}">Déconnexion</a></li>
        </ul>
        </div>
      </div>
    </nav>
{%endblock%}

{% block content %}
{% if out_check %}
    <p class="alert alert-success">Changement de l'état effectué avec succès !</p>
{% endif %}
{% if entretien_check_infra %}
    <p class="alert alert-success">L'entetien a bien était effectué !</p>
{% endif %}
<div class="container">
  <h1 class="mt-5 text-center">Gestion des infrastructures</h1>
  <div class="row">
    {% for infra in infras %}
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ infra.nom }}</h5>
          <p class="card-text">État : {% if infra.etat %}<span class="online"></span> En service{% else %}<span class="offline"></span> Hors service{% endif %}</p>
          <p class="card-text">Date d'entretien : {{ infra.maintenanceDate }}</p>
          <p class="card-text">Date de création : {{ infra.crea }}</p>
          <div class="text-center">
            <a href="#myModal-{{ infra.id }}" class="btn btn-primary" data-toggle="modal">Voir</a>
        </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% for infra in infras %}
        <!-- Modal for Infrastructure ID {{ infra.id }} -->
        <div class="modal fade" id="myModal-{{ infra.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Détails de l'infrastructure</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <h2>{{ infra.nom }}</h2>
                        <h5>Nombre de machines dans l'infrastructure : {{ infra.machine_set.count }}</h5>
                        <h5>Appartient à : <strong>{{infra.utilisateur}}</strong></h5>
                        {% if infra.etat %}
                            <form method="POST" action="{% url 'changement_statut_infra' infra.id %}">
                                {% csrf_token %}
                                <button class="btn btn-danger">Mettre hors tension</button>
                            </form>
                        {% else %}
                            <form method="POST" action="{% url 'changement_statut_infra' infra.id %}">
                                {% csrf_token %}
                                <button class="btn btn-success">Activer</button>
                            </form>
                        {% endif %}
                        <form method="POST" action="{% url 'changement_entretient_infra' infra.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="description">Description</label>
                                <input type="text" class="form-control" id="description" name="description" value="{{ infra.description }}">
                            </div>
                            <button type="submit" class="btn btn-primary">Faire l'entretien</button>
                        </form>

                        <h4>Historique des mises à jour :</h4>
                        <ul class="list-group">
                            {% for update in infra.updates.all %}
                                <li class="list-group-item">
                                    <strong>Utilisateur :</strong> {{ update.utilisateur_mise_a_jour }}
                                    <br>
                                    <strong>Date :</strong> {{ update.date_mise_a_jour }}
                                    <br>
                                    <strong>Description :</strong> {{ update.description }}
                                </li>
                                gh
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
