{% extends "computerApp/menu.html"%}

{% block navbar%}
    <nav class="navbar navbar-inverse navbar-fixed-">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../menu">R&T D___evelopment</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="../menu">Overview</a></li>
            <li class="active"><a href="">Infrastructure</a></li>
            <li><a href="../menu/gestion-user">Utilisateurs</a></li>
            <li><a href="../menu/gestion-machines">Gestion de machines</a></li>
            <li><a href="../menu/machines">Machines</a></li>
            <li><a href="../menu/profils">Profils</a></li>
          </ul>
        </div>
      </div>
    </nav>
{%endblock%}

{% block content %}
<div class="container">
  <h1 class="mt-5 text-center">Gestion des infrastructures</h1>
  <div class="row">
    {% for infra in infras %}
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ infra.nom }}</h5>
          <p class="card-text">État : {% if infra.etat %}<span class="online"></span> En service{% else %}<span class="offline"></span> Hors service{% endif %}</p>
          <p class="card-text">Date d'entretien : {{ infra.maintenanceDate }}</p>
          <p class="card-text">Date de création : {{ infra.crea }}</p>
          <div class="text-center">
          <a href="#" class="btn btn-primary">Voir</a>
        </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock %}

