{% extends "computerApp/menu.html"%}

{% block navbar%}
    <nav class="navbar navbar-inverse navbar-fixed-">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../menu">R&T D___evelopment</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="../menu">Overview</a></li>
            <li><a href="../menu/gestion-infra">Infrastructure</a></li>
            <li><a href="../menu/gestion-user">Utilisateurs</a></li>
            <li><a href="../menu/gestion-machines">Gestion de machines</a></li>
            <li><a href="#">Machines</a></li>
          </ul>
        </div>
      </div>
    </nav>
{%endblock%}

{% block content%}
<div class="container">
    <h1 class="mt-5 text-center">Liste des Machines</h1>
    <div class="row">
      {% for machine in machines %}
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">{{ machine.nom }}</h5>
            <p class="card-text">Infrastructure: {{ machine.infra }}</p>
            <p class="card-text">Statut: {% if machine.etat %}<span class="online"></span> En ligne{% else %}<span class="offline"></span> Hors ligne{% endif %}</p>
            <p class="card-text">Type de machine: {{ machine.mach }}</p>
            <p class="card-text">Date de création: {{ machine.creation }}</p>
            <div class="text-center">
                <a href="#myModal-{{ machine.id }}" class="btn btn-primary" data-toggle="modal">Voir</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  
  {% for machine in machines %}
  <!-- Modal for Machine ID {{ machine.id }} -->
  <div class="modal fade" id="myModal-{{ machine.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Détails de la machine</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <h3>{{ machine.nom }}</h3>
          <p>Infrastructure: {{ machine.infra }}</p>
          <p>Statut: {% if machine.etat %}<span class="online"></span> En ligne {% else %}<span class="offline"></span> Hors ligne {% endif %}</p>
          <p>Appartient à  {{machine.appartient}}</p>
          <p>Date de l'entretient : {{machine.maintenanceDate}}</p>
          <button type="submit" class="btn btn-primary">Faire l'entretient</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

{%endblock%}
