{% extends "computerApp/menu.html"%}

{% block navbar%}
    <nav class="navbar navbar-inverse navbar-fixed-">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../menu">R&T D___evelopment</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="../menu">Overview</a></li>
            <li><a href="../menu/gestion-infra">Infrastructure</a></li>
            <li><a href="../menu/gestion-user">Utilisateurs</a></li>
            <li><a href="../menu/gestion-machines">Gestion de machines</a></li>
            <li><a href="../menu/machines">Machines</a></li>
            <li class="active"><a href="">Profils</a></li>
          </ul>
        </div>
      </div>
    </nav>
{%endblock%}

{% block content %}
<div class="row justify-content-center mt-4">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Informations de l'utilisateur</h5>
          <div class="list-group">
            <p class="list-group-item"><strong>Nom d'utilisateur :</strong> {{ user.username }}</p>
            <p class="list-group-item"><strong>Prénom :</strong> {{ user.first_name }}</p>
            <p class="list-group-item"><strong>Nom de famille :</strong> {{ user.last_name }}</p>
            <p class="list-group-item"><strong>Adresse e-mail :</strong> {{ user.email }}</p>
            <p class="list-group-item"><strong>Membre du personnel :</strong> {% if user.is_staff %}Oui{% else %}Non{% endif %}</p>
            <p class="list-group-item"><strong>Compte actif :</strong> {% if user.is_active %}Oui{% else %}Non{% endif %}</p>
            <p class="list-group-item"><strong>Date de création du compte :</strong> {{ user.date_joined }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
{% endblock %}

