@font-face {
    font-family: "LondonPolice";
    src: url('/static/police/LondonBoutique.otf');
}
* {
    color: red;
}
.sidebar {
    background-color: #f5f5f5;
    height: 100%;
    padding-right: 0;
    padding-left: 0;
  }
  .nav-sidebar {
    font-size: 16px;
  }
  .nav-sidebar li a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .nav-sidebar li a:hover {
    background-color: #e7e7e7;
  }
  .nav-sidebar li.active a {
    color: #fff;
    background-color: #428bca;
  }

  a  {
    font-family: "LondonPolice", sans-serif;
  }